[boot]
systemd = true

[automount]
enabled = true
mountfstab = true
root=/mnt/
options = umask=0022,fmask=0133,dmask=0022,metadata,case=force

[network]
generatehosts = true
generateresolvconf = true

[interop]
enabled = true
appendwindowspath = false

[user]
default = {{ username }}

[wsl2]
guiApplications = true
